[buildout]
develop = .
parts = interpreter test
extends = http://svn.zope.org/*checkout*/groktoolkit/trunk/grok.cfg
versions = versions


[versions]
zope.component = 3.9.1


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.xmlobject
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.xmlobject [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
